@charset "utf-8";
*,
::before,
::after {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
body {
    -webkit-user-select: none;
    -webkit-text-size-adjust: 100%;
    background: #F9F9F9;
    color: #1a1a1a;
}
ul,
ol,
li {
    list-style: none;
}
input,
button,
i {
    -webkit-appearance: none;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #ededed;
}
.cantainer {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    #show {
        width: 6rem;
        height: 6rem;
        position: fixed;
        border-radius: 0.3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba(22,22,22,0.6);
        text-align: center;
        line-height: 6rem;
        z-index: 30;
        display: none;
        color: #FFF;
    }
    header {
        width: 100%;
        height: 2rem;
        background: orange;
        padding: 0.25rem 0.6rem;
        text-align: center;
        z-index: 10;
        .logo {
            display: inline-block;
            float: left;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            background: url("../img/532efe257e175.jpg") no-repeat;
            background-size: 200% 200%;
            background-position: center top;
        }
        span {
            text-align: center;
            line-height: 1.5rem;
            font-family: "楷体";
            color: #FF9;
            font-size: 1rem;
        }
        .login {
            display: inline-block;
            float: right;
            a {
                display: block;
                border-radius: 50%;
                height: 1.2rem;
                width: 1.2rem;
                background: url("../img/login.png") no-repeat;
                background-size: 100% 100%;
                margin-top: 0.2rem;
            }
        }
    }
    .nav {
        position: fixed;
        top: 2rem;
        width: 100%;
        height: 1.5rem;
        display: -webkit-flex;
        z-index: 9;
        a {
            flex: 1;
            text-align: center;
            line-height: 1.5rem;
            font-size: 0.7rem;
            background: rgba(20,20,20,0.5);
            &.bac {
                background: rgba(20,20,20,0.8);
            }
        }
    }
    section {
        flex: 1;
        padding-top: 1.5rem;
        padding-bottom: 0.5rem;
        overflow-y: auto;
        .listtxt,
        .listimg,
        .listvideo {
            width: 100%;
            padding: 0 0.5rem;
            li {
                width: 100%;
                margin-top: 0.5rem;
                padding: 0.5rem;
                overflow: hidden;
                height: auto;
                display: block;
                border-radius: 0.5rem;
                border: 0.05rem solid #EDEDED;
                background: #F9F9F9;
                .uesrname {
                    width: 100%;
                    height: 1.2rem;
                    padding: 0.1rem 0;
                    img {
                        margin-right: 0.5rem;
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%;
                    }
                    span {
                        font-size: 0.6rem;
                        color: #aaa;
                        line-height: 1rem;
                        position: relative;
                        top: -0.25rem;
                    }
                }
                .text {
                    width: 100%;
                    display: block;
                    overflow: hidden;
                    padding: 0.3rem 0;
                    p {
                        font-size: 0.7rem;
                    }
                }
                .tupian {
                    width: 100%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .shiping {
                    width: 100%;
                    height: auto;
                    position: relative;
                    img {
                        width: 100%;
                        height: auto;
                    }
                    span {
                        position: absolute;
                        display: block;
                        width: 2.5rem;
                        height: 2.5rem;
                        border-radius: 50%;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        -webkit-transform: translate(-50%,-50%);
                        background: url("../img/jammy.png") no-repeat;
                        background-size: 100% 100%;
                        opacity: 0.7;
                    }
                }
                .foot {
                    width: 100%;
                    height: 1.2rem;
                    display: -webkit-flex;
                    div {
                        flex: 1;
                        line-height: 0.8rem;
                        text-align: center;
                        span {
                            display: inline-block;
                            width: 0.8rem;
                            height: 0.8rem;
                            position: relative;
                            top: 0.2rem;
                            opacity: 0.5;
                        }
                        i {
                            display: inline-block;
                            margin-left: 0.2rem;
                            line-height: 1rem;
                            font-size: 0.6rem;
                            color: #ccc;
                            font-family: "微软雅黑";
                            font-style: normal;
                        }
                    }
                    .zan {
                        span {
                            background: url("../img/zan1.png") no-repeat;
                            background-size: 100% 100%;
                            &.backzan {
                                background: url("../img/zan2.png") no-repeat;
                                background-size: 100% 100%;
                            }
                        }
                    }
                    .cai {
                        span {
                            background: url("../img/cai1.png") no-repeat;
                            background-size: 100% 100%;
                            &.backcai {
                                background: url("../img/cai2.png") no-repeat;
                                background-size: 100% 100%;
                            }
                        }
                    }
                    .pinlun {
                        span {
                            background: url("../img/pinlun.png") no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                    .zhuanzai {
                        span {
                            background: url("../img/zhuanfa.png") no-repeat;
                            background-size: 100% 100%;
                        }
                    }
                }
            }
        }
        .load {
            width: 100%;
            height: 2rem;
            text-align: center;
            padding: 0.25rem;
            span {
                display: inline-block;
                width: 1.5rem;
                height: 1.5rem;
                background: url("../img/load.png") no-repeat;
                background-size: 100% 100%;
                animation: run 0.6s infinite linear;
            }
        }
    }
    .gotop {
        width: 1.5rem;
        height: 1.5rem;
        position: fixed;
        bottom: 1.2rem;
        right: -1.8rem;
        background: url("../img/gotop.png") no-repeat;
        background-size: 100% 100%;
        opacity: 0.6;
    }
    .yiny {
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,0.3);
        z-index: 40;
        .share {
            position: absolute;
            bottom: -9rem;
            width: 100%;
            z-index: 40;
            height: 9rem;
            background: #fff;
            border-top: 0.05rem solid #ececec;
            h4,
            h5 {
                width: 100%;
                text-align: center;
                height: 1.5rem;
                line-height: 1.5rem;
                font-size: 0.9rem;
                color: #777;
            }
            h5 {
                border-top: 0.05rem solid #ccc;
                padding-top: 0.25rem;
                margin-top: 1rem;
            }
            .catenate {
                width: 100%;
                padding: 1rem 2rem;
                text-align: center;
                height: 4rem;
                span {
                    width: 2rem;
                    height: 2rem;
                    display: inline-block;
                    border-radius: 50%;
                    margin: 0 0.5rem;
                    &.weibo {
                        background: url("../img/weibo.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    &.weixin {
                        background: url("../img/weixin.png") no-repeat;
                        background-size: 100% 100%;
                    }
                    &.qq {
                        background: url("../img/qq.png") no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}
@-webkit-keyframes run {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}